{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@containers": "./src/containers",
          "@components": "./src/components",
          "@constants": "./src/constants",
          "@router": "./src/router",
          "@services": "./src/services",
          "@utils": "./src/utils",
          "@layouts": "./src/layouts",
          "@styles": "./src/assets/styles",
          "@images": "./src/assets/images"
        }
      }
    ],
    ["import", {
      "libraryName": "antd",
      "libraryDirectory": "es",
      "style": "css"
    }]
  ]
}